<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127 49.92">
  <style>.cls-1 { fill: #fff; }</style>
  <path class="cls-1" d="M0 0v5.88h10v44.04h4V5.88h99v44.04h4V5.88h10V0H0z"/>
  <path class="cls-1" d="M16 7.88h47v12.79H16zm48 0h47v12.79H64z"/>
</svg>
