<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.23 105.34">
  <style>.cls-1 {fill: #fff;}</style>
  <path class="cls-1" d="M56.23 47.11a.29.29 0 0 0 0-.07L38.51 2.24A3.55 3.55 0 0 0 35.2 0H21.07a3.56 3.56 0 0 0-3.31 2.25L0 46.94a.21.21 0 0 0 0 .08c0 1.36 7.92 2.52 18.94 2.94L6.17 103.49a1.27 1.27 0 0 0 .7 1.59l.89.23c.56.15 1.16-.33 1.33-1.06l7.52-31.45 11.54-11.54L39.7 72.82l7.5 31.38c.18.73.77 1.21 1.33 1.06l.89-.23a1.27 1.27 0 0 0 .7-1.59L37.37 50.05c10.98-.42 18.86-1.58 18.86-2.94zm-35.17 7.07l5.52 5.52-9 9zM17 71.37l.3-1.26 9.87-9.87.48.48zm10.13-12.22l-5.86-5.85.19-.79 6.15 6.15zm1-1l-6.49-6.49.36-1.44v-.07c2 0 4 .07 6.1.07s4.18 0 6.17-.08l.35 1.47zm6.69-5.61l.18.77-5.86 5.86-.48-.48zm-6.7 7.66l-.48-.48.49-.49.48.48zm11.24 11.19L28.69 60.72l.49-.49 9.88 9.88zm-.65-2.71l-9-9 5.52-5.52zM28.12 46.9c-14.27 0-25.83-.49-25.83-1.09s11.57-1.09 25.83-1.09S54 45.21 54 45.81 42.38 46.9 28.12 46.9z"/>
</svg>
