<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.17 115.25">
  <style>.cls-1 { fill: #fff; }</style>
  <path class="cls-1" d="M0 0h41v108.58H0zm43 0h20.83v108.58H43zM0 111.58h64.17v3.67H0z"/>
</svg>
