<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143.5 53.11">
  <style>.cls-1 { fill: #fff; }</style>
  <path class="cls-1" d="M143.5 0H0v9.38h21.11L10.66 31l-.51.27.2.37L0 53.11h3.29l10.55-21.87L54.51 9.38H89l40.65 21.85 10.55 21.85h3.29l-10.34-21.43.2-.37-.51-.28L122.4 9.38h21.1zM15.09 28.64l9.3-19.26h26.53zm113.31 0L92.6 9.38h26.51z"/>
</svg>
