.about.flex-row
  .about--intro-wrapper.flex-col.col-x2
    .left-content-wrapper
      .site-logo
        include icons/logo-design-studio.pug
      
      .about--list-content-wrapper
        h2 О нас
        ul.about--list
          li
            span 2017
            p Год основания фирмы
          li
            span 1596
            p Реализованных проектов
          li
            span 13
            p Довольных клиентов
            
  .about--main-content-wrapper.col-x3
    .about--main-content
      h3 Проблема заключается в том, что мы <br> профессионалы
      p Studio Design является семейным бизнесом с традициями и многолетним опытом. Мы ценим качество, своевременность и подход для каждого проекта в отдельности. В нашем распоряжении высококачественное столярное оборудование и специализированные технические средства. <br><br> Мы изготавливаем мебель на заказ для ндивидуальных клиентов, производственных помещений, больниц, школ и офисов. У нас есть транспортные средства и мы осуществляем сборку мебели у заказчика.
      
  .about--image-wrapper.flex-col.col-x1
    .about--image.img-one
    .about--image.img-two
    .about--image.img-three
    
    
