section.contact.flex-row#contact
  
  .contact--left-content.left-padding.flex-col.col-x2
    .contact--logo-headline.flex-col
      .site-logo
        include icons/logo-design-studio.pug
      .contact--headline
        h2 Контакты
        ul
          li Studio Design
          li 410 S Rampart Blvd
          li Las Vegas
          br
          li тел.: 
            a(href="tel:+380917777070") +38 091 777 70 70
          li e-mail: 
            a(href="mailto:info@studioddesign.io") info@studioddesign.io
      
    .contact--copyright
      p Реализация: <a href="https://vadimkolosov.pro/" target="_blank" rel="noopener"> Vadim Kolosov </a>
      p Дизайн:  <a href="http://challengestudio.pl" target="_blank" rel="noopener"> CHALLENGE Studio </a>
      p &copy 2017 CHALLENGE Studio
        
  .contact--form-content.flex-col.col-x3  
    form(method='POST').contact--form-wrapper.flex-col
      h4 Свяжитесь с нами
      label(for='name' aria-label='Имя')
        input(type='text', name='name' placeholder="Ваше имя")
      label(for='phone' aria-label='Телефон')
        input(type='phone', name='phone' placeholder="Телефон")
      label(for='_replyto' aria-label='Email')
        input(type='email', name='_replyto' placeholder="Email")
      label(for='message' aria-label='Сообщение')
        textarea(name="message" rows="1" placeholder="Сообщение")

      button(type='submit', value='Send', aria-label="send button") 
        span Отправить сообщение
        include icons/icon-envelope.pug
          
  .contact--map-wrapper.col-x1
    include icons/icon-map-marker.pug
    .contact--api
      #map
      .button-close.third-btn.flex-col
        span.background
        include icons/icon-close.pug
    .contact--api-fade
      
