header.header.flex-row
  button.hamburger
    span.line-top
    span.line-middle
    span.line-bottom
      
  .header--intro-wrapper.flex-col.col-x2
    .logo-wrapper
      .site-logo
        include icons/logo-design-studio.pug
    .left-content-wrapper
      h1 Стиль &#8211; созданный из натурального дерева  
  
  .header--menu-wrapper.col-x1
    .header--link-wrapper
      a(href="#") Начало
      a(href="#") О нас
      a(href="#") Создание
      a(href="#") Продукты
      a(href="#") Контакты
      
    .header--contact-wrapper.flex-col
      p
        strong Телефон
        a(href="tel:+38 091 777 70 70") 38 091 777 70 70
      p
        strong E-mail
        a(href="mailto:info@studioddesign.io") info@studioddesign.io
        
      .header--social-wrapepr.flex-row
        a(href="#")
          include icons/icon-facebook.pug
        a(href="#")
          include icons/icon-pinterest.pug
        a(href="#")
          include icons/icon-behance.pug
    
    
