header.header.flex-row
  button.hamburger
    span.line-top
    span.line-middle
    span.line-bottom
      
  .header--left-col-wrapper.left-padding.flex-col.col-x2
    .site-logo
      include icons/logo-design-studio.pug

    h1 Стиль &#8211; созданный из натурального дерева
  
  .header--menu-wrapper.col-x1
    nav.header--link-wrapper
      a(href="#") Начало
      a(href="#") О нас
      a(href="#") Услуги
      a(href="#") Продукты
      a(href="#") Контакты
      
    .header--contact-wrapper.flex-col
      p
        strong Телефон
        a(href="tel:+380917777070") 38 091 777 70 70
      p
        strong E-mail
        a(href="mailto:info@studioddesign.io") info@studioddesign.io
        
      .header--social-wrapepr.flex-row
        a(href="#")
          include icons/icon-facebook.pug
        a(href="#")
          include icons/icon-pinterest.pug
        a(href="#")
          include icons/icon-behance.pug
    
    
