doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Design Studio
    link(rel="manifest" href="assets/js/manifest.json")
    link(rel="icon" href="assets/img/favicon.png")
    link(rel='stylesheet', href='assets/css/main.css')
  body
    include header-section.pug
    include about-us-section.pug
    include services-section.pug
    include product-section.pug
    include contact-section.pug
  
    
    script(defer src='assets/js/jquery-3.1.1.min.js')
    script(defer src='assets/js/custom.js')
    script(defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaPht6mvddX1_gIAxuXF-KXN_vbPS30hc&callback=initMap")
  
