.product.flex-row
  .product--left-content.left-padding.flex-col.col-x2
    .product--logo-headline.flex-col
      .site-logo
        include icons/logo-design-studio.pug
      .product--headline
        h2 Продукты
    .product--category
      h4 Категории
      ul
        li 
          a(href="") Кровати
        li 
          a(href="") Шкафы
        li 
          a(href="") Стулья
        li 
          a(href="") Столы
  .product--production-wrapper.flex-row.col-x4
    article
      .product--image
        img(src="assets/img/product-image/bed-1.jpg")
      .product--desc-wrapper.flex-col
        h5 Мальм
        a(href="#") Кровати
    article
      .product--image
        img(src="assets/img/product-image/bed-2.jpg")
      .product--desc-wrapper.flex-col
        h5 Мальм
        a(href="#") Кровати
    article
      .product--image
        img(src="assets/img/product-image/bed-3.jpg")
      .product--desc-wrapper.flex-col
        h5 Мальм
        a(href="#") Кровати
    article
      .product--image
        img(src="assets/img/product-image/chair-1.jpg")
      .product--desc-wrapper.flex-col
        h5 Мальм
        a(href="#") Кровати
    article
      .product--image
        img(src="assets/img/product-image/chair-2.jpg")
      .product--desc-wrapper.flex-col
        h5 Мальм
        a(href="#") Кровати
    article
      .product--image
        img(src="assets/img/product-image/chair-3.jpg")
      .product--desc-wrapper.flex-col
        h5 Мальм
        a(href="#") Кровати
    

      

          
