.product.flex-row
  .product--left-content.left-padding.flex-col.col-x2
    .product--logo-headline.flex-col
      .site-logo
        include icons/logo-design-studio.pug
      .product--headline
        h2 Продукты
    .product--category.flex-col
      .product--category-content
        h4 Категории
        .product--link-wrapper.flex-col
          a(href="#" rel="all").product--href.active-category#all Вся мебель
          a(href="#" rel="bed").product--href#bed Кровати  
          a(href="#" rel="chest").product--href#chest Шкафы
          a(href="#" rel="chair").product--href#chair Стулья
          a(href="#" rel="table").product--href#table Столы
          .product--svg
            include icons/product-bed.pug
            include icons/product-chest.pug
            include icons/product-table.pug
            include icons/product-chair.pug
        
  .product--production-wrapper.flex-row.col-x4
    article.bed.card
      .product--image
        a(href="#")
          img(src="assets/img/product-image/bed-1.jpg")
      .product--desc-wrapper.flex-row
        .product--name-href
          h5 Мальм
          a(href="#") Кровати
        a(href="#").price 2499$
    article.bed.card
      .product--image
        a(href="#")
          img(src="assets/img/product-image/bed-2.jpg")
      .product--desc-wrapper.flex-row
        .product--name-href
          h5 Мальм
          a(href="#") Кровати
        a(href="#").price 2499$
    article.bed.card
      .product--image
        a(href="#")
          img(src="assets/img/product-image/bed-3.jpg")
      .product--desc-wrapper.flex-row
        .product--name-href
          h5 Мальм
          a(href="#") Кровати
        a(href="#").price 2499$
    article.chair.card
      .product--image
        a(href="#")
          img(src="assets/img/product-image/chair-1.jpg")
      .product--desc-wrapper.flex-row
        .product--name-href
          h5 Мальм
          a(href="#") Кровати
        a(href="#").price 2499$
    article.chair.card
      .product--image
        a(href="#")
          img(src="assets/img/product-image/chair-2.jpg")
      .product--desc-wrapper.flex-row
        .product--name-href
          h5 Мальм
          a(href="#") Кровати
        a(href="#").price 2499$
    article.chair.card
      .product--image
        a(href="#")
          img(src="assets/img/product-image/chair-3.jpg")
      .product--desc-wrapper.flex-row
        .product--name-href
          h5 Мальм
          a(href="#") Кровати
        a(href="#").price 2499$
    
    

      

          
