section.services.flex-row

  .services--top-level.left-padding.flex-col.col-x2
    .services--logo-headline.flex-col
      .site-logo
        include icons/logo-design-studio.pug
      .services--headline
        h2 Услуги
        p Купи себе хорошую мебель
    .services--headline-low
      h3 Мы создаем мебель в твоем измерении
    
  .services--bottom-level.flex-col.col-x3
    .services--description
      p Плотницкий опыт графы и точность. Они позволяют создавать заказные потребности мебели. И не важно, говорить ли о оргтехнике, бытовых предметах и стилизованной мебели. Для того, чтобы создать исключительные вещи, которые вы должны иметь работу в руке и обращать внимание на детали. Они составляют уникальное целое.
      
    .services--examples-low.flex-row
      .services--example
        include icons/serv-icon-lamp.pug
        .production.one 
          p Стулья
      .services--example
        include icons/serv-icon-table.pug
        .production.two 
          p Столы
      .services--example
        include icons/serv-icon-locker.pug
        .production.three 
          p Шкафы
      .services--example
        include icons/serv-icon-desk.pug
        .production.four 
          p Парты
      .services--example
        include icons/serv-icon-shelves.pug
        .production.five 
          p Полки
    
  .services--image-container.col-x1
    .services--image-wrapper.flex-col
      .button-close.button-none.flex-col
        span
        span
        span
