section.services.flex-row

  .services--top-level.left-padding.flex-col.col-x2
    .services--logo-headline.flex-col
      .site-logo
        include icons/logo-design-studio.pug
      .services--headline
        h2 Услуги
        p Купи себе хорошую мебель
    .services--headline-low
      h3 Мы создаем мебель в твоем измерении
    
  .services--bottom-level.flex-col.col-x3
    .services--description
      p В столярном ремесле ценится опыт и точность. Это позволяет нам создавать мебель под любые запросы и потребности. И не важно, идет ли речь об оборудовании офиса, предметах ежедневного употребления или стильной мебели. Для того, чтобы создавать исключительные вещи, которые вы должны иметь работу в руке и обращать внимание на детали. Они составляют уникальное целое.
      
    .services--examples-low.flex-row
      .services--example
        include icons/serv-icon-lamp.pug
        .production.one 
          p Стулья
      .services--example
        include icons/serv-icon-table.pug
        .production.two 
          p Столы
      .services--example
        include icons/serv-icon-locker.pug
        .production.three 
          p Шкафы
      .services--example
        include icons/serv-icon-desk.pug
        .production.four 
          p Парты
      .services--example
        include icons/serv-icon-shelves.pug
        .production.five 
          p Полки
    
  .services--image-container.col-x1
    .services--image-wrapper.flex-row
      .services--image
      .services--tech-desc.flex-col.show
        h4 Технология
        p Узнай, как производится наша мебель
      .services--tech-desc.flex-col
        h4 Изготовление материалов
        p Выбор подходящего материала является ключевым элементом для подготовки мебели. Бук, дуб, ясень и лиственница прочный фундамент, лежащий в основе творческого видения дизайнера.
      .services--tech-desc.flex-col
        h4 Идеальная обработка мебели
        p Древесина является идеальным материалом, подлежащего лечению. Благодаря природным свойствам можно придать практически любую форму. Всегда извлечь с натурального дерева счета и заботиться о деталях, так что мебель, которую мы создаем характеризуется простотой и элегантностью.
      .services--tech-desc.flex-col
        h4 Технология
        p Надлежащее обслуживание обеспечивает длительный эффект и защищает от поседения, обеспечивает защиту от плесени, водорослей и грибов, а также благодаря защитным фильтрам используются гидрофобной работа. Использование самого высокого качества масла, глазурей и лаков, пропитывающий делает дерево сохраняет свою естественную форму приятен на ощупь и красиво представлены.
      
      .button-close(role="button" aria-label="button").second-btn.flex-col
        span.background
        include icons/icon-close.pug
