/*** =================================================================***/
/*                                BASE                                */
/*** =================================================================***/
body
  font-family: 'Segoe UI','Helvetica Neue',Arial,Tahoma,sans-serif
  font-size: 16px
  line-height: 1.6

a
  text-decoration: none

h1
  font-size: 48px
  text-transform: uppercase
  color: white
