/*** =================================================================***/
/*                           VARIABLES                                  */
/*** =================================================================***/
$black: #000
$white: white
$lightGrey: #0f0f0f
$lightBrown: #ca9f72


.slide-up
  animation: slideUp 1s forwards .3s

@keyframes slideUp
  from
    transform: translateY(30px)
    opacity: 0
  to
    transform: translateY(0)
    opacity: 1
